[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
mysql-connector-python = "*"
flask-restful = "*"
flask-jwt-extended = "*"
flask-bcrypt = "*"
tabulate = "*"

[dev-packages]

[requires]
python_version = "3.6"
